.container {
    height: 36px;
    background: #2e2828;
}

@mixin navIcon($x, $y) {
    content: '';
    background: url('../img/icon-common.svg') no-repeat;
    position: absolute;
    top: 10px;
    right: 5px;
    display: block;
    width: 14px;
    height: 14px;
    background-position: $x $y;
}

@mixin footerIcon($x,
$y) {
    content: '';
    background: url('../img/icon1.svg') no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 40px;
    height: 40px;
    background-position: $x $y;
}

#nav {
    width: 1200px;
    height: 36px;
    background: #2e2828;
    margin: 0 auto;
    .nav_left {
        float: left;
        span {
            float: left;
            display: block;
            padding: 0 8px;
            position: relative;
            a {
                color: #afafaf;
                font-size: 12px;
                height: 36px;
                line-height: 36px;
                cursor: pointer;
            }
            a:hover {
                color: white;
            }
            a:before {
                content: '';
                width: 1px;
                height: 10px;
                background: #414141;
                position: absolute;
                top: 13px;
                left: 0;
                display: block;
            }
        }
        .borderless:before {
            display: none;
        }
        .arrow {
            padding-right: 10px;
        }
        .arrow a {
            padding-right: 15px;
        }
        .arrow i {
            @include navIcon(-71px,
            0);
        }
        .arrow:hover i {
            @include navIcon(-85px,
            0);
        }
        .arrow:hover {
            background: white;
        }
        .arrow:hover a {
            color: red;
            padding-right: 15px;
        }
        .arrow:hover a:before {
            display: none;
        }
    }
    .nav_right {
        float: right;
        span {
            float: left;
            display: block;
            padding: 0 8px;
            position: relative;
            a {
                color: #afafaf;
                font-size: 12px;
                height: 36px;
                line-height: 36px;
                cursor: pointer;
            }
            a:hover {
                color: white;
            }
            a:before {
                content: '';
                width: 1px;
                height: 10px;
                background: #414141;
                position: absolute;
                top: 13px;
                left: 0;
                display: block;
            }
        }
        .borderless:before {
            display: none;
        }
        .arrow {
            padding-right: 10px;
        }
        .cart {
            padding-left: 10px;
        }
        .arrow a {
            padding-right: 15px;
        }
        .cart a {
            padding-left: 15px;
        }
        .arrow i {
            @include navIcon(-71px,
            0);
        }
        .arrow:hover i {
            @include navIcon(-85px,
            0);
        }
        .arrow:hover,
        .cart:hover {
            background: white;
        }
        .arrow:hover a,
        .cart:hover a {
            color: red;
        }
        .arrow:hover a:before,
        .cart:hover a:before {
            display: none;
        }
        .cart i {
            @include navIcon(-96px,
            0);
            width: 20px;
            height: 20px;
            top: 7px;
            left: 0;
        }
        .cart:hover i {
            @include navIcon(-115px,
            0);
            width: 20px;
            height: 20px;
            top: 7px;
            left: 0;
        }
    }
}

.container2 {
    height: 74px;
    background: white;
}

#search {
    height: 41px;
    padding: 18px 0;
    width: 1200px;
    margin: 0 auto;
    #search_left {
        float: left;
        a {
            display: inline-block;
            height: 100%;
            line-height: 41px;
            font-size: 16px;
        }
        .logo {
            width: 205px;
            height: 36px;
            margin-right: 34px;
        }
        .a {
            width: 74px;
            margin-right: 20px;
            vertical-align: middle;
        }
        .word {
            margin-right: 24px;
        }
        .word:hover {
            color: red;
        }
    }
    #search_right {
        float: right;
        position: relative;
        .input_a1 {
            position: absolute;
            top: 10px;
            right: 100px;
        }
        .input_a2 {
            position: absolute;
            top: 10px;
            right: 50px;
        }
        .input_a1:hover,
        .input_a2:hover {
            color: black;
        }
        input {
            width: 205px;
            height: 30px;
            line-height: 41px;
            border-radius: 15px;
            background: #eee;
            padding-left: 20px;
            color: black;
            padding-right: 32px;
        }
        input:focus+.input_a1 {
            display: none;
        }
        input:focus+.input_a1+.input_a2 {
            display: none;
        }
        i {
            @include navIcon(-140px,
            0);
            width: 20px;
            height: 20px;
            top: 5px;
            right: 10px;
        }
    }
    #search_right:hover {
        input {
            border: 1px solid #ccc;
        }
        i {
            @include navIcon(-160px,
            0);
            width: 20px;
            height: 20px;
            top: 5px;
            right: 10px;
        }
    }
}

#banner {
    height: 550px;
    background: url('../img/banner5.jpg') no-repeat center;
}

#footer {
    margin-top: 20px;
    height: 407px;
    background: #f9f9f9;
    .footer_inner {
        width: 1200px;
        height: 407px;
        background: #f9f9f9;
        margin: 0 auto;
        border: 1px solid transparent;
        .footer_top {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            height: 40px;
            li {
                width: 17%;
                position: relative;
                padding-left: 50px;
                font-size: 18px;
                line-height: 40px;
                color: #3a3a3a;
                cursor: pointer;
            }
            .icon1_1 i {
                @include footerIcon(-74px,
                0)
            }
            .icon1_2 i {
                @include footerIcon(-114px,
                0)
            }
            .icon1_3 i {
                @include footerIcon(-154px,
                0)
            }
            .icon1_4 i {
                @include footerIcon(-194px,
                0)
            }
        }
        .footer_middle {
            display: flex;
            justify-content: space-between;
            padding: 24px 0;
            border: 1px solid rgb(229, 229, 229);
            border-right: none;
            border-left: none;
            ul {
                width: 13.33%;
                li {
                    font-size: 10px;
                    color: #777;
                    line-height: 1.4rem;
                }
                li:nth-of-type(1) {
                    font-size: 14px;
                    color: black;
                    margin-bottom: 10px;
                }
            }
            ul:nth-last-of-type(1) {
                width: 278px;
                border-left: 1px solid rgb(229, 229, 229);
                .tel {
                    font-size: 24px;
                    font-weight: bolder;
                    color: rgb(87, 87, 87);
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    margin-bottom: 0;
                }
                .tel_content {
                    text-align: center;
                    font-size: 14px;
                }
                .tel_button {
                    width: 170px;
                    height: 34px;
                    line-height: 34px;
                    border: 1px solid #333;
                    background: #333;
                    border-radius: 17px;
                    font-size: 14px;
                    color: white;
                    text-align: center;
                    position: relative;
                    margin: 0 auto;
                    padding-left: 10px;
                    i {
                        @include navIcon(-38px,
                        -75px);
                        top: 0;
                        left: 25px;
                        width: 21px;
                        height: 21px;
                        color: white;
                    }
                }
            }
        }
    }
}